$site-bg: #414141;
$sidebar-bg: #222;

$badge-green: #00bc8c;
$badge-orange: #f39c12;

//dark theme
$gray-100: #222;
$gray-200: #444;
$gray-300: #555;
$gray-400: #303030;

//blue
$blue-100: #7baadc;

$red: #af3131;
$red-dark: #881919;

$marker-yellow: #ffc107;
$marker-yellow-dark: #daac00;
$marker-green: #59ce59;
$marker-green-dark: #429a42;

$sidebar-width: 22rem;
$ledger-card-height: 6.7rem;
